// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$ferrari_red: #C63E08;
$light_gray: #F8F8F8;
$near_black: #2d2b2b;
$white: #FFFFFF;

