#booking-title {
  margin-top: 30px;
}

.booking-status {
  height: fit-content;
}

#car-specs {
  padding: none;
}

#img-booking {
  width: 50vw;
  height: auto;
  padding-bottom: 20px;
  border-radius: 3px;
}

