#booking-title {
margin-top: 36px;
margin-left: 80px;
}

.car-details p {
  margin-left: 80px;
}

#img-booking {
  height: 300px;
  width: 600px;
  border-radius: 4px;
  padding: 16px 0px;
  margin-left: 80px;
}

.total-price {
  margin: 36px 0px;

}
.booking-status {
  text-align: center;
  margin: 36px 0px;
  border: solid 1px lightgray;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
}

.btn-red {
  margin-top: 36px;
}

.booking-status-title {
 margin: 36px 0px;
}
