.description-text {
  margin-left: 80px;
}

.review-text {
  margin-left: 80px;
  margin-top: 36px;
  background: white;
}

#img-car {
  height: 300px;
  width: auto;
  margin-left: 80px;
}


.green {
  color: green;
  font-size: 22px;
}

.red {
  color: red;
  font-size: 22px;
}

.review-button {
  margin-bottom: 80px;
}

