<div class="container">

  <h1>Bookings#show</h1>
  <p>Start Date: <%= @booking.start_date %></p>
  <p>End Date: <%= @booking.end_date %></p>
  <%= link_to "Cancel this booking", booking_path, method: :delete  %>

</div>
