.btn-red {
color: white;
padding: 8px 24px;
border-radius: 4px;
background: #C63E08;
transition: background 0.3s ease;
}

.btn-red:hover {
background: #F8F8F8;
color: #C63E08;
border: 1px solid #C63E08;
}


.submit-search-button  {
color: white;
padding: 8px 24px;
border-radius: 4px;
background: #C63E08;
transition: background 0.3s ease;
border: none;
}

.submit-search-button:hover {
background: #F8F8F8;
color: #C63E08;
border: 1px solid #C63E08;
}
