.btn-red {
color: white;
padding: 8px 24px;
border-radius: 4px;
background: #C63E08;
transition: background 0.3s ease;
}

.btn-red:hover {
background: white;
color: #C63E08;
}



#submit-button {
color: white;
padding: 8px 24px;
border-radius: 4px;
background: #C63E08;
transition: background 0.3s ease;
}
