.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.filter-red {
  filter: invert(27%) sepia(84%) saturate(1478%) hue-rotate(355deg) brightness(95%) contrast(100%);
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-field {
  padding: 0 10px;
}

.navbar-search-field input[type="text"] {
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
}
