.card-review{
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $light_gray;
}

.card-review-avatar {
  position: absolute;
  top: -10px;
  left: -10px;
}

.card-review-time {
  position: absolute;
  left: 35px;
  font-size: 10px;
}

.card-review-star {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-review-content {
  padding: 14px;
  margin: 10px 0;
  word-break: break-all;
}
