<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/axTvnbgRlAk);">
  <div class="container">
    <h1>Book a car of <strong>your dream</strong>!</h1>
    <p>Select from awesome collection of unique cars</p>
    <!-- <a class="btn btn-flat" href="#">book now</a> -->
  </div>
</div>

  <% @cars.each do |car| %>
    <h2><%= car.brand %></h2>
  <% end %>
