<div class="card-review">
  <%= cl_image_tag review.user.photo.key, class: 'avatar card-review-avatar' %>
  <p class="card-review-star"> <%= 'â­' * review.rating %> </p>
    <p class="card-review-content"><%= review.content %></p>
</div>
