<div class="card-review">
  <%= cl_image_tag review.user.photo.key, class: 'avatar review-avatar' %>
  <div>
    <p class="card-review-content"> <%= review.content %> </p>
    <p class="review-star"> <%= 'â­' * review.rating %> </p>
  </div>
</div>
